__pycache__/
datasets/
random_basis_*/
final_model.pt
R20_CIFAR10_NORMAL/
ConvNet_Tiny_PRANC/
LeNet_MNIST_NORMAL/
LeNet_MNIST_PRANC/
R20_CIFAR_NORMAL/
R20_CIFAR_PRANC/
ALEX_CIFAR_PRANC/
R20_CIFAR100_PRANC/
R20_tiny_NORMAL/
R20_tiny_PRANC/
R56_CIFAR100_PRANC/
R56_CIFAR_PRANC/
R20_CIFAR10_NORMAL_MULTI/
R20_CIFAR10_pranc_MULTI/
R56_CIFAR10_PRANC_MULTI/
